/*.clear:after {
    content:"";
    clear: both;
    display: block;
}*/

.landing-box {
    position: fixed;
    width: 100%;
    z-index: 1d;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -50%;
    font-family: Josefin Sans, helvetica, sans-serif;
    font-weight: 700;
}

.landing-box h1 {
	display: block;
	text-align: center;
}

#content {
    text-align: center;
    margin-top: -20px;
}

.landing-box p {
    display: inline-block;
    text-align: center;
}

.landing-box a {
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.main-box {
    display: flex;
    flex-direction: row;
}

.col {
}

.col-33 {
    background-color: lightblue;
    width: 30%;
    padding: 2.5%;
    margin-right:2.5%;
    text-align: center;
}

.col-66 {
    background-color: pink;
    width: 65%;
    text-align: center;
}